@model DemoMVC.Models.Student

<h2>Sửa sinh viên</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Mã sinh viên</label>
        <input asp-for="StudentCode" class="form-control"/>
    </div>

    <div>
        <label>Họ tên</label>
        <input asp-for="FullName" class="form-control"/>
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Lưu</button>

</form>