@model IEnumerable<DemoMVC.Models.Student>

<h2>Danh sách sinh viên</h2>

<form method="get">
    <input type="text" name="searchString" placeholder="Tìm kiếm..." />
    <button type="submit">Search</button>
</form>

<a href="/Student/Create">➕ Thêm mới</a>

<table class="table">
    <tr>
        <th>Mã SV</th>
        <th>Họ tên</th>
        <th>Hành động</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.StudentCode</td>
        <td>@item.FullName</td>
        <td>
            <a href="/Student/Edit/@item.Id">Sửa</a> |
            <a href="/Student/Delete/@item.Id">Xoá</a>
        </td>
    </tr>
}
</table>